*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

            /* MENU */

.sidebar__nav{
    height: 100vh;
    width: 17%;
    background: #202020;
}

.sidebar__logo{
    display: flex;
}

.sidebar__logo p{
    margin: auto;
    margin-top: 10px;
    font-size: 40px;
    color: white;
}

.sidebar__logo p span{
    color: #8b4c04;
}

.sidebar__items{
    display: flex;
    margin-top: 20px;
}

.sidebar__items ul{
    width: 70%;
}

.sidebar__items ul li{
    padding: 20px;
    transition: 0.5s ease;
    gap: 10px;
    margin: 10px;
}

.sidebar__items ul li:hover{
    background: #2e2e2e;
}


.sidebar__items ul li i{
    color: white;
    padding: 8px;
}
.sidebar__items ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
