*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
            /* VARIABLES */

$backcl: #202020;
$backcl2: #1c1b20;
$fontcl: #fff;
$boxShadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
$fontcl2: #8b4c04;
$transitions: 0.5s ease;
$backgradient: linear-gradient(-45deg, #000000, #8b4c04);


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                /* INDEX */

body{
    background-color: $backcl;
}

#body__index{
    background: #202020;
}

.body__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
        .body__background{
            margin: auto;
            padding: 50px;

            .body{
                display: grid;

                .body__align{
                    grid-column: 1/2;
                    grid-row: 1/1;
                    background-color: $backcl2;
                    color: $fontcl;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row: 1fr 1fr 1fr 1fr;
                    box-shadow: $boxShadow;
                    width: 100%;
                }
            }
        }
}

                /* Comienzo de menu de navegacion */

.menu{
    padding-left: 300px;
    background-color: $backcl;

    .menu__items{
        list-style: none;
        width: 100%;
        margin: auto;

        ul{
            display: inline-block;

            li{
                display: inline-block;
                text-align: center;

                a{
                    text-decoration: none;
                    color: $fontcl;
                    padding: 20px;
                    display: block;
                    transition: $transitions;

                    &:hover{
                        color: $fontcl2;
                    }
                }
            }
        }
    
        .menu__logo{
            display: inline-block;

            a{
                text-decoration: none;
                font-size: 30px;
                color: $fontcl;

                span{
                    color: $fontcl2;
                }
            }    
        }
    }    
}

                /* Comienzo de menu (RESPOSIVE) de navegacion */

.respmenu nav ul li{
    list-style: none;
    
}

.respmenu a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    max-width: 200px;
    background: $backcl;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 10px;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #202020;
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

                /* MEDIA */
                
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
}  

@media screen and (min-width: 768px) {
    .respmenu{
        display: none;
    }
}

                /* Fin de menu de navegacion */

                /* Comnienzo de playlists */

.iframe__background{
    background-image: url(../img/pexels-vishnu-r-nair-1105666.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;

    .body__iframes{
        color: $fontcl;
        margin: 100px auto;
        display: inline-block;

        .playlist{
            display: flex;
            width: 100%;
            gap: 30px;

            .playlists__yt{
                margin: auto;
            }
            
            .playlists__spotify{
                margin: auto;
            }
        }
    }
}

            /* Fin de playlists */        
            
                    /* TWITCH */

.twitch__body{
    grid-row: 2/3;

    .twitch__title{
        padding: 20px 0 10px 20px;  
        font-size: 30px;

    }

    .twitch__logo{
        width: 150px;
        height: 150px;
    }

    .twitch__text{
        padding: 20px 0 10px 20px;  
    }
}



                    /* DISCORD */

.discord__body{
    grid-column: 1/1;
    grid-row: 3/4;

    .discord__title{
        padding: 20px 0 10px 20px;   
        font-size: 30px;

    }

    .discord__logo{
        width: 150px;
        height: 150px;
    }
    
    .discord__text{
        padding: 20px 0 10px 20px;   
    }
} 

                    /* SPOTIFY */

.spotify__body{
    grid-column: 1/1;
    grid-row: 4/5;

    .spotify__title{
        padding: 20px 0 10px 20px;   
        font-size: 30px;

    }

    .spotify__logo{
        width: 150px;
        height: 150px;
    }
    
    .spotify__text{
        padding: 20px 0 10px 20px;   
    }                      
}

                /* BOTON DE LEER MAS */

.btn__seemore{
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.5s ease;
    text-decoration: none;
    color: black;

    &:hover{
        background-color: $fontcl2;
        color: $fontcl;
    }
}  

                /* Comienzo de aside */

.aside__align{
    padding: 50px;

    .aside{
        display: flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 1/1;
        background-color: $backcl2;
        color: $fontcl;
        box-shadow: $boxShadow;
        margin: auto;

        .aside__eventos{
            display: inline-block;
            margin: 0;
            font-size: 20px;
            padding: 25px 25px;

            p a{
                text-decoration: none;
            }

            .social{
               color: $fontcl2;
               transition: $transitions;

               &:hover{
                   color: $fontcl;
               }
            }
        }

        .aside__twitch{
            display: inline-block;
            font-size: 20px;
            padding: 25px;

            .aside__twitch--logo a img{
                display: inline-block;
                margin: auto;
                width: 80%;
                height: auto;
                padding-top: 20px;
                padding-bottom: 20px;
                
            }
        }

        .aside__twittertimeline{
            padding: 25px;
        } 
    }
}

                /* Fin de aside */

                /* Comienzo del footer */

footer{
    bottom: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 250px;
    position: relative;
} 

.footer__iconos a{
    margin: auto;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

                /* SERVICIOS */

#body__servicios{
    background: $backcl2; 
}

.cards__body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 200px;

    .cards{
        width: 300px;
        margin: 25px;
        padding: 40px 20px;
        background: linear-gradient(-45deg, #000000, #8b4c04);
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: 00.5s ease;

        &:hover{
            transform: scale(1.05);
        }

        .card__title{
            i{
                color: $fontcl;
                font-size: 60px;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                border-radius: 50%;
                box-shadow: $boxShadow;  
            }

            h2{
                color: $fontcl;
                font-size: 30px;
                margin-top: 15px;
            }
        }

        .card__price{
            color: $fontcl;
            font-size: 25px;
        }
        
        .card__options{
            ul{
                margin-top: 20px;

                li{
                    list-style: none;
                    color: $fontcl;
                }
            }
        }

        .card__btn{
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background: $fontcl;
            border-radius: 40px;
            box-shadow: $boxShadow;
            color: black;
            text-decoration: none;
            transition: $transitions;

            &:hover{
                background: #000000;
                color: $fontcl;
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

                /* TALLERDJ */

#tallerDJ__back{
    background: $backgradient;
    padding: 20px;
    border-radius: 30px; 
    box-shadow: $boxShadow;

    h1{
        font-size: 30px; 
    }

    ul li{
        font-size: 15px;
    }

}                

.tallerDJ{
    color: $fontcl;
    background: $backcl2;

    .tallerDJ__body{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: auto;

        .tallerDJ__objetivos ul li{
            list-style: none;

            a{
                text-decoration: none;
                color: $fontcl;
                transition: 00.3s ease;
                
                &:hover{
                    color: black;
                }
            }
        }
    }

    .tallerDJ__equip ul li{
        list-style: none;
    }

    .tallerDJ__botonpago a{
        display: flex;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        background: white;
        width: 10%;
        justify-content: center;
        border-radius: 30px;
        transition: 00.3s ease;
        box-shadow: $boxShadow;
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: 00.3s ease;
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: $transitions;
            
        &:hover{
            background: $fontcl2;
            color: $fontcl;
        }  
    }

    .tallerDJ__body-info{
        display: flex;
        margin: auto;
        margin-top: 40px;
        justify-content: center;
        background: $backgradient;
        width: 30%;
        height: auto;
        padding: 20px;
        border-radius: 30px; 
        box-shadow: $boxShadow;

        p{
            font-size: 25px;
        }
    }

}                

.tallerDJ__merch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 30px;
    width: 95%;
    height: 70%;
    background: $fontcl2;
}
                
 li #campus{
    font-size: 20px;
    display: inline-block;
    margin: 0;
    color: #8b4c04;

    &:hover{
        color: #008000;
        box-shadow: rgb(0, 256, 0);
    }
}                