*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background: #4e3402;
}

            /* MENU */

.sidebar__nav{
    display: inline-block;
    height: 100vh;
    width: 17%;
    background: #202020;
    z-index: 9999; 
}

.sidebar__logo{
    display: flex;
}

.sidebar__logo p{
    margin: auto;
    margin-top: 10px;
    font-size: 40px;
    color: white;
}

.sidebar__logo p span{
    color: #8b4c04;
}

.sidebar__items{
    display: flex;
    margin-top: 20px;
}

.sidebar__items ul{
    width: 70%;
}

.sidebar__items ul li{
    padding: 20px;
    transition: 0.5s ease;
    gap: 10px;
    margin: 10px;
}

.sidebar__items ul li:hover{
    background: #2e2e2e;
}


.sidebar__items ul li i{
    color: white;
    padding: 8px;
}
.sidebar__items ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

            /* HEADER */



.header{
    display: inline-block;
    width: 100%;
    height: 5vh;
    background: #202020;
    border-bottom: 1px #2e2e2e solid ;
} 

.header__user{
    display: inline-block;
    padding-left:  90%;
}

.header__user img{
    display: flex;
    margin-top: 5px;
    width: 30px;
    border-radius: 30px;
}

.header__user nav{
    display: inline-block;
}

.header__user nav ul li{
    list-style: none;
}

.header__user nav ul li ul{
    display: none;
    background: #2e2e2e;
    padding: 20px;
}

.header__user nav ul li ul i{
    color: white;
}

.header__user nav ul li ul a{
    display: inline-block;
    color: #8b4c04;
    text-decoration: none;
    padding: 10px;
}

.header__user nav ul li:hover ul{
    display: block;
    margin-top: 3px;
    border-radius: 10px;
    position: absolute;
}

                /* BODY */

.body__content{
    display: flex;
    
}

.body{
    margin-top: 30px;
    display: inline-block;
    width: 80%;
    height: 50em;
    background: #202020;
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 0 0 40px -10px #000; 
}

.body__cursos{
    display: block;
}

.body__cursos ul{
    padding-left: 50px;

}

.body__cursos ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    transition: 00.5s ease;
    border-bottom: 1px #2e2e2e solid;
}

.body__cursos ul li:hover{
    border-bottom: 1px white solid;
}

.body__cursos ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.body__cursos--actual{
    display: grid;
    background: #2e2e2e;
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-left: 80px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px -10px #000;    
}

#title{
    font-size: 20px;
    font-weight: 400;
    color: #8b4c04;
}

.body__cursos--actual h4, h5{
    color: white;
    font-weight: 100;
}

.body__cursos--actual a{
    text-decoration: none;
    color: #8b4c04;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    background: white;
    transition: 0.5s ease;
}

.body__cursos--actual a:hover{
    background: #8b4c04;
    color: white;
}

.hr{
    display: flex;
    margin:  30px auto;
    width: 80%;
    background: white;
    height: 1px;
}

.body__cursos--foro {
    display: inline-block;
}

                /* INFO BODY */

.body__cursos--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 100px;
    width: auto;
    color: white;
}

.body__cursos--info h1 span{
    color: #8b4c04;
}

.body__foro {
    text-align: center;
    color: white;
}

.body__foro h1{
    margin-bottom: 30px;
}

.body__foro a{
    background: #8b4c04;
    padding: 5px 30px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    transition: 0.3s ease;
    box-shadow: 0 0 40px -10px #000;
}

.body__foro a:hover{
    background: white;
    color: #8b4c04;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                /* BIBLIOGRAFIA */

.body__titles{
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    gap: 10px;
} 

.body__titles h1 span{
    color: #8b4c04;
}

.body__libros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 20em;
    margin: auto;
    margin-top: 40px;
    gap: 10px;
}

.book__item1{
    width: 100%;
    background: #4e3402;
}

.book__item1 img{
    grid-column: 1/2;
    width: 100%;
    height: 70%;
}

.book__item1--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.book__item1--info h4{
    text-align: center;
    color: white;
    font-size: 20px;
}

.book__item1--info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: 0.4s ease;  
}

.book__item1--info a:hover{
    color: #000;
}

.book__item2{
    width: 100%;
    background: #4e3402;
}

.book__item2 img{
    grid-column: 2/3;
    width: 100%;
    height: 70%;
}

.book__item2--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.book__item2--info h4{
    text-align: center;
    color: white;
    font-size: 20px;
}

.book__item2--info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: 0.4s ease;  
}

.book__item2--info a:hover{
    color: #000;
}

.book__item3{
    width: 100%;
    background: #4e3402;
}

.book__item3 img{
    grid-column: 3/4;
    width: 100%;
    height: 70%;
}

.book__item3--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.book__item3--info h4{
    text-align: center;
    color: white;
    font-size: 20px;
}

.book__item3--info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: 0.4s ease;  
}

.book__item3--info a:hover{
    color: #000;
}

.book__item4{
    width: 100%;
    background: #4e3402;
}

.book__item4 img{
    grid-column: 4/5;
    width: 100%;
    height: 70%;
}

.book__item4--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.book__item4--info h4{
    text-align: center;
    color: white;
    font-size: 20px;
}

.book__item4--info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: 0.4s ease;  
}

.book__item4--info a:hover{
    color: #000;
}



